.text {
    display:flex;
    position: fixed;
        margin-left: 500px;
    justify-content: center;
    align-items: center;
    font-family: "Spectral";
    font-size: 400px;
    opacity: 0.5;
    color: white;
    z-index: 3
}

.img {
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2
}
.green {
    height: 200vh;
    position: relative;
    background: #13C707;
}

.blue {
    height: 200vh;
    position: relative;
    background: #0095ff;
}
.body {
        margin:0px;
        padding:0px;
}