h1 {
    color: black;
    text-align: center;
    font-size: 300px;
}
a {
    color: black;
    text-align: center;
    font-size: 300px;
}
div {
    width: 200px;
    height: 200px;
    color: rgb(100,00	20,58	78,81	);
}
.textred { 
    color:red;
    font-size: 100px;
}
.heading:hover {
background: green;
}
p:hover { 
    color: cyan;
}